@font-face {
  font-family: 'fwsj_font';
  src: url("./fwsj_font.ttf");
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font: 0.9rem 'fwsj_font', arial, serif, 'Microsoft YaHei';
}
header {
  height: 4rem;
  background: #fafafa;
  border-bottom: 1px solid #ddd;
}
header .title {
  line-height: 4rem;
  text-align: center;
  font-size: 1.2rem;
  font-family: 'fwsj_font';
}
section {
  flex: 1;
}
section main {
  margin: 1rem 0;
  width: 20rem;
}
section main .title {
  font-size: 1.05rem;
  margin: 0.5rem 0;
  text-align: center;
}
footer {
  height: 4rem;
  background: #fafafa;
  border-top: 1px solid #ddd;
}
