/**
 * Author: laohu
 * Date: 2018-08-17
 * Describe: 广州塔项目页面样式
 */

@import './reset.css'
@import './page.css'
@import './font-awesome/css/font-awesome.min.css'
@import './tool'    

//定义一个变量和一个mixin
$baseFontSize = 100; //默认基准font-size
pr(pxNum) {
  (pxNum / $baseFontSize) * 1rem;
}

body {
    height: 100vh;
    overflow auto;
    width: 100%;
    background: #112c65
    // background: url('http://172.16.23.52:8090/roadmap/10/833/445.png')
}  

.dialog {
    // background: url('../img/dialogBG.png') no-repeat; 
    width 100%
    height 100vh 
    overflow hidden;
    // background: 100% 100%

    // .close-btn {
    //     position absolute
    //     top 0
    //     right 0
    //     width 5%
    //     height 7.5%
    //     cursor pointer
    //     background: url('../img/close_btn.png'); 
    //     background-size: 100% 100%
    //     // transform: rotate(2deg);
    //     outline: 0
    //     border: 0
    //     &:focus {
    //         background-image: url('../img/close_btn_focus.png'); 
    //     }
    // }

    // .title {
    //     text-align: center
    //     color #55E5ED
    //     font-size: pr(64)
    //     padding: 5vh 0
    // }

    .table {
        // margin: 0 2.8%
        color: #fff
        font-size: pr(42)
        background-image: url('../img/tb_bg.png')
        background-size: 100% 100%
        // margin-bottom: 2%
        height: 100%
        padding-bottom: 2rem
        overflow-y: auto 
        box-sizing: border-box
        >li {
            display: flex
            height: pr(110)
            align-items: center
            background-size: 100% 100%               
            >span {
                flex: 1
                text-align: center;
                textOverflow() 
            }
            &:first-child {
                font-size: pr(44)                
                background-image: url('../img/tb_head.png')
            }
            &:not(:first-child):nth-child(odd) {
                background-image: url('../img/tr_bg_odd.png')
            }
            &:nth-child(even) {
                background-image: url('../img/tr_bg_even.png')
            }
            &:not(:first-child):hover {
                background-image: url('../img/tr_active.png')
            }
            &.not-data-li {
                justify-content center
                height: pr(260)
                line-height: pr(260)
                background-image: none                
                &:hover {
                    background-image: none                                    
                }
                >i {
                    font-size pr(80)
                    color #fff
                }
            }
        }
    }

    .page {
        position: fixed
        bottom: .5rem
        width 100%
    }
}

.dynamic-box {
    width 100%
    height 100vh 
    overflow-y: auto
    display: flex 
    padding: 1%
    box-sizing: border-box
    .left-box {
        width 30%
        background: rgba(1, 11, 30, .5)
        margin-right: .88%
        box-sizing: border-box
        padding: pr(30) pr(50)
        border-radius: pr(10)
        .date-p {
            color: #4dd0da
            font-size: pr(80)
            text-align: center
            line-height: pr(160)
            border-bottom pr(2) solid #4dd0da
            position relative
            .date-btn {
                display: inline-block;
                width pr(80)
                height pr(80)
                background: url("../img/date_s.png") no-repeat;
                background-size contain
                position: relative
                top pr(12)
                left pr(10)
                cursor pointer
                .date-box {
                    position absolute
                    top 0
                    left pr(90)
                    line-height: normal
                    z-index 9999
                    //display none
                }
            }

        }
        .all-box {
            text-align center
            margin-top: pr(50)
            >p {
                font-size: pr(74)
                color: #fff
                padding-top: pr(50)
            }
            >span {
                color #ffff21
                font-size: pr(110)
            }
        }
        .icon-list {
            .item {
                float: left
                width: 50%
                margin-top: pr(100)
                img {
                    display: block
                    width pr(110)
                    height pr(110)
                    margin: 0 auto
                }
                span {
                    display: block
                    color #fff
                    font-size: pr(60)
                    text-align: center
                    margin-top: pr(20)
                }
                p {
                    color #4dd0da
                    font-size: pr(90)
                    text-align: center
                }
            }    
        }
    }   
    .right-box {
        flex: 1
        background: rgba(1, 11, 30, .5)
        border-radius: pr(10)
        box-sizing: border-box
        padding: pr(30) pr(50)
        overflow-y: auto
        .title {
          color: #667C8E;
          background: #011238;
          border-top-left-radius: pr(10);
          border-top-right-radius: pr(10)
          border-bottom: pr(2) solid #4dd0da;
          line-height: pr(160)
          span {
            font-size: pr(60)
            margin-right pr(100)
            cursor pointer
            line-height: pr(160)
            display inline-block
            &.active {
              color: #4DD3DD;
              position relative
              &:after {
                content ''
                position absolute
                bottom pr(-10)
                left 0
                width 100%
                height pr(10)
                background #4DD3DD
              }
            }
          }
        }
        .gz-pople-box {
            width 100%
            .item {
                float left
                width: 19%
                color #fff
                //background: #000
                margin-top: pr(50)
                &:not(:nth-child(5n)) {
                    margin-right: 1.25% 
                }
                img {
                    width 100%
                    height 13vw
                    border: pr(2) solid #4dd0da
                    box-sizing: border-box
                }    
                p {
                    text-align: center
                    font-size: pr(45)
                    &:nth-child(2) {
                        margin-top: pr(30)    
                    }
                    &:nth-child(4) {
                        margin-bottom: pr(10)    
                    }
                }

            }
        }
        .gz-table-box {
            color #fff
            position relative

            .DayDate-chart {
                padding-top pr(200)
                width 100%;
                height: 35vw;
            }
            .gz-chart {
                width pr(1000);
                height: pr(800);
                position absolute
                top pr(-200)
                right 0
            }
        }

    } 
}