/* 设置谷歌浏览器下滚动条的样式 */
$size = .2rem /* 20/100 */
::-webkit-scrollbar {
  width: $size
  height: $size
}

::-webkit-scrollbar-track-piece {
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-border-radius: $size
}

::-webkit-scrollbar-thumb:vertical {
  height: $size
  background-color: rgba(22, 185, 254, .7);
  -webkit-border-radius: $size
}

::-webkit-scrollbar-thumb:horizontal {
  width: $size
  background-color: rgba(22, 185, 254, .7);
  -webkit-border-radius: $size
}

// 清除浮动影响函数
clearFloat() {
  &:after {
    display block
    content ''
    clear both
  }
}

// 文字溢出处理
textOverflow() {
  overflow hidden
  text-overflow ellipsis
  white-space nowrap
}  