<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>广州塔登塔数据</title>
    <script src="./js/quote/rem.js"></script>
    <link rel="stylesheet" href="./css/index.css"/>
</head>

<body>
    <div class="dialog" id="climbTower">
        <!-- <button class="close-btn" @click="window.close()"></button> -->

        <!-- <div class="title">登塔数据</div> -->

        <ul class="table">
            <li>
                <span>姓名</span>
                <span>性别</span>
                <span>证件类型</span>                
                <span>身份证</span>
                <span>登塔地点</span>
                <span>登塔时间</span>
            </li>
            <li v-if="nowData === 'empty'" class="not-data-li">没有获取到数据~</li>            
            <li v-else-if="!nowData" class="not-data-li"><i class="fa fa-spinner fa-pulse"></i></li>
            <li v-else v-for="v of nowData" >
                <span :title="v.name" v-text="v.name"></span>
                <span :title="v.sex" v-text="v.sex"></span>
                <span :title="v.idtype" v-text="v.idtype"></span>                
                <span :title="v.idnumber" v-text="v.idnumber"></span>
                <span :title="v.doorway" v-text="v.doorway"></span>
                <span :title="v.intime" v-text="v.intime"></span>
            </li>

        </ul>

        <!-- 分页 -->
        <pagination :pages="CTData.length" @nowpage="nowDataFn"></pagination>
        
    </div>

    <script src="./js/quote/vue.min.js"></script>
    <script src="./js/quote/axios.min.js"></script>
    <script src="./js/quote/lodash.min.js"></script>
    <script src="./js/components/page.js"></script>
    <script src="./js/util/formatDate.js"></script>
    <script src="./js/climbTower.js"></script>
</body>

</html>