<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>广州塔巡逻盘查数据</title>
    <script src="./js/quote/rem.js"></script>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <div class="dialog" id="patrol">
        <!-- <button class="close-btn"  @click="window.close()"></button> -->

        <!-- <div class="title">巡逻盘查数据</div> -->
        
        <ul class="table">
            <li>
                <span>查询时间</span>
                <span>用户身份证</span>
                <span>用户名</span>
                <span>单位名称</span>
            </li>
            <li v-if="nowData === 'empty'" class="not-data-li">没有获取到数据~</li>            
            <li v-else-if="!nowData" class="not-data-li"><i class="fa fa-spinner fa-pulse"></i></li>
            <li v-else v-for="v of nowData" >
                <span :title="v.CX_TIME" v-text="v.CX_TIME"></span>
                <span :title="v.USER_SFZ" v-text="v.USER_SFZ"></span>
                <span :title="v.USER_NAME" v-text="v.USER_NAME"></span>
                <span :title="v.UNITNAME" v-text="v.UNITNAME"></span>
            </li>

        </ul>

        <!-- 分页 -->
        <pagination :pages="CTData.length" @nowpage="nowDataFn"></pagination>
        
    </div>

    <script src="./js/quote/vue.min.js"></script>
    <script src="./js/quote/axios.min.js"></script>
    <script src="./js/quote/lodash.min.js"></script>
    <script src="./js/components/page.js"></script>
    <script src="./js/util/formatDate.js"></script>    
    <script src="./js/patrol.js"></script>
</body>

</html>